/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background: pink;
  max-height: 100vh;
}

.box{
  background:white;
  border-radius:30px;
  display:flex;
  justify-content:center;
  flex-direction:column;
/*   padding:70px; */
  max-height: 100vh;
}
.cloth{
  display:flex;
  justify-content:center;
  align-items:center;
  background:white;
  position: relative;
  bottom:-40px;

}
.pant{
  display:flex;
  justify-content:center;
  align-items:center;
  background:white;
  position: relative;
  top:-40px;
}
.setting{
  display:flex;
  flex-direction:column;
 
}
.setting>button{
  width:50px;
  background-color: ivory; 
  border: none;
  box-shadow: 2px 4px #888888;
  font-size: 30px;
  border-radius:5px;
  margin:10px
}

#clothImg{
   z-index:9
}
#pantImg{
  z-index:8
}