/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background: pink;
  max-height: 100vh;
}

.box {
  background: white;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 90vh;
}
.cloth {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  position: relative;
  top: -47px;
}
.pant {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  position: relative;
  top: -88px;
}
.setting > button {
  width: 30px;
  background-color: ivory;
  border: none;
  box-shadow: 2px 4px #888888;
  font-size: 20px;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 30px;
  z-index: 10;
}

#clothImg {
  z-index: 9;
}
#pantImg {
  z-index: 8;
}
.head {
/*   top: px; */
  z-index: 11;
  position:relative;
    margin-left: auto;
   margin-right: auto;
 
}
#face {
  width: 140px;
  height: 160px;
}
#eye {
  width: 100px;
  left:28px;
  top:40px;
  height: 30px;
  position: absolute;
}
#nose {
  left:28px;
  top:70px;
  width: 120px;
  height: 30px;
  position: absolute;
}
#lip {
  left:28px;
  top:100px;
  width: 120px;
  height: 30px;
  position: absolute;
}

