/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background: pink;
}

.box{
  background:white;
  border-radius:30px;
  display:flex;
  justify-content:center;
  flex-direction:column;
}
.cloth{
  display:flex;
  align-items:center;
  border-radius:30px;
  background:orange;
  padding:-20px

}
.pant{
  display:flex;
  align-items:center;
  border-radius:30px;
  background:orange;
  padding:-20px
    

}
